@import "tailwindcss";
.customH {
  height: calc(fit-content + 300px);
}
.customH2 {
  height: calc(100vh - 136px);
}
/* .customSha{
    box-shadow:inset 0px -3px 3px 1px rgba(201, 127, 15, 0.411);
} */

.tran {
  transform: translateX(calc(100% + 20rem));
}

.customCubic {
  transition: all 0.45s cubic-bezier(0.49, 1.5, 0.72, 1);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}
/* @keyframes shake2 {
    0%, 100% {
        transform: translateX(0);
    }
    25%{
        transform: translateX(-5px);
    }
    75%{
        transform: translateX(5px);
    }
} */

@keyframes shake2 {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
}

@keyframes scaleUp {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.scaleUp {
  animation: scaleUp 0.3s ease-in-out;
}

.shake {
  animation: shake 0.2s;
}
.shake2 {
  animation: shake2 0.3s ease-in-out;
  border-color: #dc2626;
}

.otpBoxSuccess {
  border-color: #22c55e;
  transition: border-color 0.2s;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@keyframes signupAnim{
  from{
    transform: translateY(100%);
  }to{
    transform: translateY(0);
  }
}

.signupAnim {
  animation: signupAnim 0.6s cubic-bezier(0.23, 1.4, 0.520, 1);
}
@utility input-focus{
  @apply focus:outline-none px-3 placeholder:capitalize 

}
@utility button{
  @apply active:scale-90 transition-all duration-300 px-4 py-1.5
}
@utility flex-center{
    @apply flex justify-center items-center
}
@utility col-center{
    @apply flex flex-col justify-center items-center
}
@font-face {
  font-family: 'CustomFont';
  src: url('../src/font/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@theme {
  --font-custom: 'CustomFont', sans-serif;
}
